<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add Student</title>
</head>
<body>
    <div class="container  mt-5">
        <h1 class="text-center ">Edit Student Data</h1>
        <form action="/students/<%=data[0].birth_date%>/edit" method="post">
            <input type="hidden" name="id" value="<%=data[0].id%>"><br>
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="first_name" value="<%=data[0].first_name%>" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="last_name" value="<%=data[0].last_name%>" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" name="email" value="<%=data[0].email%>" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Birth Date</label>
                <input type="text" name="birth_date" value="<%=data[0].birth_date%>" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Edit Student</button>
        </form>
    </div>
</body>
</html>