<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Students Data</title>
</head>

<body>
    <h1 style="text-align:center;">Edit Students Data</h1>
    <a href="students/add">
        <p style="text-align:center">Show all data</p>
    </a>
    <form action="/students/<%= student.id %>" method="POST">
        <div class="form-group">
            <label for="formGroupExampleInput">First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="John" name="first_name" value=<%= student.first_name %>>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Doe" name="last_name" value=<%= student.last_name %>>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="JohnDoe@sekolah.id" name="email" value=<%= student.email %>>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Gender</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" 
                <% if(student.gender == "male"){ %>
                    value="male" checked>
                   <% }else{ %>
                        value = "male">
                <% } %>
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2"
                <% if(student.gender == "female"){ %>
                    value= <%= student.gender %> checked>

                    <% }else{ %>
                        value = "female">
                <% } %>
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios3" 
                <% if(student.gender == "other"){ %>
                    value= <%= student.gender %> checked>

                    <% }else{ %>
                        value = "other">
                <% } %>
                <label class="form-check-label" for="exampleRadios3">
                  Other
                </label>
              </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Birthdate</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input" name="birthdate" value= <%= student.birth_date %> >
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Finish Edit</button>
    </form>
</body>

</html>