 
<!DOCTYPE html>
<html>
    <head>
        <title>Edit School Application</title>
    </head>
    <body>
        <h1 style="text-align: center;">Edit Students Data</h1>
        <p style="text-align: center;"><a href="/students">show all data</a></p>   
        <form action="/students/<%=data.id%>/edit" method="post">
            <P>
                <label>First Name:</label><br>
                <input type="text" name="first_name" value="<%=data.first_name%>"> <br><br>
            </P>
            <P>
                <label>Last Name:</label><br>
                <input type="text" name="last_name" value="<%=data.last_name%>"> <br><br>
            </P>
            <P>
                <label>Email:</label><br>
                <input type="email" name="email" value="<%=data.email%>"> <br><br>
            </P>
            <P>
                <label>Gender:</label><br>
                <input type="text" name="gender" value="<%=data.gender%>"> <br><br>
            </P>
            <P>
                <label>Birth Date:</label><br>
                <input type="date" name="birth_date" value="<%=data.birth_date%>"> <br><br>
            </P>
        <button type="submit">Edit Students</button>
    </form>
</body>
</html>