<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Students Data</h1>
        <div class="container text-center my-3"><a href="/students/add">Add Student</a></div>
        <% if (alert){ %>
            <div class="alert alert-<%= alert.type %> text-center" role="alert">
                <%= alert.message %>
            </div>
        <% } %>
        
        <% if(data){ %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <% for(let key in data[0]){ %>
                            <th scope="col" class="text-center"><%= key %></th>    
                        <% } %>
                        <th scope="col" class="text-center">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach( list => { %>
                        <tr>
                            <td class="text-center"><%= list.id %></td>
                            <td class="text-center"><%= list.first_name %></td>
                            <td class="text-center"><%= list.last_name %></td>
                            <td class="text-center"><%= list.email %></td>
                            <td class="text-center"><%= list.gender %></td>
                            <td class="text-center"><%= list.birth_date %></td>
                            <td class="text-center"><a href="/students/<%= list.id %>/edit">Edit</a> | <a href="/students/<%= list.id %>/delete">Delete</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
    <div class="container text-center mt-5"><a href="/">Home</a></div>

</body>
</html>