<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="/" role="button"> Back To Homepage</a>
    <a href="/student/add" role="button">ADD New Student</a>

    <% if (data.length) { %>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th colspan="2">Option</th>
            </tr>
            <% data.forEach(item => { %>
                <tr>
                    <td><%= item.id%></td>
                    <td><%= item.first_name%></td>
                    <td><%= item.last_name%></td>
                    <td><%= item.email%></td>
                    <td><a href="/student/<%= item.id%>/edit" role="button">EDIT</a></td>
                    <td><a href="/student/<%= item.id%>/delete" role="button">DELETE</a></td>
                </tr>
            <% }) %>
        </table>
    <% } %>
</body>
</html>