<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Students Data</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">SomeSchool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/subjects">Subjects</a>
              </li>
          </ul>
        </div>
      </nav>
      <h2 style="text-align:center;">Students Data</h2>
      <a href="/students/add"><p style="text-align:center">Add Students</p></a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < students.length; i++) { %>
                <tr>
                    <th scope="row"><%= students[i].id %></th>
                    <td><%= students[i].first_name %></td>
                    <td><%= students[i].last_name %></td>
                    <td><%= students[i].email %></td>
                    <td><%= students[i].gender %></td>
                    <td><%= students[i].birth_date %></td>
                    <td><a href="/students/<%= students[i].id %>/edit">Edit</a> | <a href="students/<%= students[i].id  %>/delete"">Delete</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>